<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CNStream web demo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" type="text/css">
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <style>
    .demo-collapse-item-arrow{position:absolute;top:50%;right:8px;-webkit-transform:translateY(-50%) rotate(0);-moz-transform:translateY(-50%) rotate(0);-ms-transform:translateY(-50%) rotate(0);transform:translateY(-50%) rotate(0);font-size:16px;width:12px;height:16px;background:url({{url_for('static', filename='image/arrow.png')}}) no-repeat 50%;-moz-background-size:cover;background-size:cover;-webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;-moz-transition:transform ease-in-out .3s,-moz-transform ease-in-out .3s;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out,-moz-transform .3s ease-in-out;-webkit-transform-origin:center center;-moz-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center}
    .demo-collapse-item-arrow.is-active{-webkit-transform:translateY(-50%) rotate(180deg);-moz-transform:translateY(-50%) rotate(180deg);-ms-transform:translateY(-50%) rotate(180deg);transform:translateY(-50%) rotate(180deg)}
    </style>
</head>
<body>
<div class="ai-module-demo ai-module-section js-module-section" linknav="true">
    <div class="ai-module-header">
        Cambricon Demo Display
    </div>
    <div class="ai-module-select">
     <select onchange="handleSelectChange()" id="web_type_selector" style="width: 153px;
     height: 42px;
     border: 1px solid #3D9DF0;
     font-size: 14px;
     color: #858585;
     padding-left: 21px;">
      <option value="dehaze">Dehaze</option>
      <option value="style_transfer">Style_transfer</option>
      <option value="detection">Detection</option>
      <option value="SuperResolution">Super_Resolution</option>
     </select>
    </div>
    <div class="ai-module-demo-container">
        <div class="tech-recognition">
            <div class="ai-container">
                <div class="tech-recognition-content">
                    <div class="tech-recognition-scan" style="display: none;">
                    </div>
                    <div class="tech-img-content">
                        <div class="tech-canvas-container">
                            <div class="demo-loading" style="display: none;">
                                <div class="demo-loading-img"></div>
                                <div class="demo-loading-text">图片上传中</div>
                            </div>
                            <div class="image-input">
                                <div class="image-input-container">
                                    <input type="text" spallcheck="false" placeholder="请输入网络图片URL" class="image-url">
                                    <button class="image-button" onclick='imageURL(document.getElementsByClassName("image-url")[0].value)'>检测</button>
                                    <div class="image-text">或</div>
                                    <label class="image-local">
                                     <form id="form-upload" role="form" action="detection_upload" method="post" enctype="multipart/form-data">
                                      
                                     <!-- <input type="button" onclick="imageUpLoad()" value="test"></button> -->
                                           <input type="file" accept="image/png, image/bmp, image/jpg, image/jpeg" name="image_file" class="image-local-input" onchange="imageUpLoad()">本地上传
                                     </form>
                                    </label>
                                </div>
                                <div class="image-notice">图片文件类型支持PNG、JPG、JPEG、BMP，图片大小不超过2M。</div>
                            </div>
                            <canvas class="demo-canvas-centerlize" width="1024" height="640" style="transform: translate(-50%, -50%) scale(0.81875);"></canvas>
                        </div>
                        <div class="image-select">
                            <div class="image-select-item">
                                <img src="{{url_for('static', filename='image/1.jpg')}}" onclick="imageURL(this.src)">
                            </div>
                            <div class="image-select-item">
                                <img src="{{url_for('static', filename='image/2.jpg')}}" onclick="imageURL(this.src)">
                            </div>
                            <div class="image-select-item">
                                <img src="{{url_for('static', filename='image/8.jpg')}}" onclick="imageURL(this.src)">
							</div>
                            <div class="image-select-item">
                                <img src="{{url_for('static', filename='image/7.jpg')}}" onclick="imageURL(this.src)">
                            </div>
                            <div class="image-select-item">
                                <img src="{{url_for('static', filename='image/6.jpg')}}" onclick="imageURL(this.src)">
                            </div>
                        </div>
                    </div>
                    <div class="demo-json">
                        <div class="demo-collapse">
                            <div class="demo-collapse-item">
                                <div class="demo-collapse-item-title demo-json-title" onclick="showMessage()">Request<span id="request" class="demo-collapse-item-arrow is-active"></span>
                                </div>
                                <div class="demo-collapse-item-cnt" style="height: 554px; opacity: 1;">
                                    <div class="demo-json-req">
                                        <div class="demo-json-line">Params
                                            <div class="demo-json-text">image="图片的Base64编码"
                                            </div>
                                        </div>
                                        <div class="demo-json-line">Post
                                            <div class="demo-json-text">http://10.100.9.75:10001/detection_upload
                                            </div>
                                        </div>
                                        <div class="demo-json-line">Header
                                            <div class="demo-json-text">header: Content-Type: "application/x-www-form-urlencoded"
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="demo-collapse-item">
                                <div class="demo-collapse-item-title demo-json-title" onclick="showMessage()">Response<span id="response" class="demo-collapse-item-arrow"></span>
                                </div>
                                <div class="demo-collapse-item-cnt" style="height: 0px; opacity: 0;">
                                    <div class="demo-json-res">
                                        <div class="demo-json-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <hr>
    <div id="footer">
        <div class="container">
            <p>&copy; based on cnstream sdk</p>
        </div>
   </div>

<script>
    {% if has_result %}
    mainWindowImg("{{imagesrc}}");
    if ("{{jsonstr}}"){
        var jsondata = JSON.parse({{jsonstr|tojson}});
        parseJSON(jsondata);
    }
    {% else %}
    mainWindowError("{{jsonstr}}");
    {% endif %}
</script>
</body>
</html>
