name: CI

on:
  push:
    branchs:
      - master

jobs:
  job_lintgit_check:
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v1
    - name: Run lintgit
      run: ./tools/lintgit master $PWD

  build:
    runs-on: [self-hosted]
    steps:
    - name: Mkdir build
      run: |
        mkdir build
        cmake -DMLU=MLU270 ..
        make -j16
